body{
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-weight: 500;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#brand-logo{
  clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
.sank{
  font-weight:700;
}
.itmss {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 28px;
  transition: 0.15s ease-in-out;
}

.itmss:hover {
  color: #F7DBF0;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.itmss i {
  padding: 20px;
  background-color: #39A2DB;
  border-radius: 15px;
  transition: 0.15s ease-in-out;
}

.itmss:hover i {
  transform: rotate(30deg);
  transition: 0.15s ease-in-out;
}

.worldMp {

  margin-top: 30px;
  margin-bottom: 30px;
  background-image: url("world.jpg");
  height: 300px;
  width: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}


.hdng-col{
  padding:1rem;
  margin:5px;
  text-align:center;
}
.hdng {
  
  font-weight: 700;
}



.flw {
  font-size: 25px;
  color: white;
  margin-top: 30px;
}

.flw i {
  background-color: #0061A8;
  margin-left: 8px;
  padding: 15px;
  border-radius: 20px;
  transition: 0.15s ease-in-out;
}

.flw i:hover {
  border: 2px solid powderblue;
  color: powderblue;
  background-color: white;
  cursor: pointer;
  font-size: 23px;
  transition: 0.15s ease-in-out;
}


.footer-card,.card,.card-body{
  background-color: powderblue;
  border:none;
}
.ft{
  padding: 1rem;
}

.footer{
  font-weight: 500;
}
